/* Estilos CSS */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
  /*color: rgb(3, 3, 3);*/
  color: #575656;
}

#logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 250px;
  height: auto;
  display: block;
  z-index: 999; /* Ensures the logo stays above other content */
}

/* Estilo para centralizar o título */
#headerCliente {
text-align: center; /* Centraliza o texto horizontalmente */
margin: 0 auto; /* Centraliza horizontalmente */
max-width: auto; /* Largura máxima para manter o alinhamento */
color: white;
}

/* Estilo para centralizar os botões */
.buttons-container {
display: flex; /* Ativa o flexbox */
justify-content: center; /* Centraliza os itens horizontalmente */
margin: 20px auto; /* Centraliza e adiciona um espaçamento superior e inferior */
max-width: 80%; /* Largura máxima para manter o alinhamento */
}

#content-top {
position: fixed;
top: 0;
left: 50%; /* Move o elemento para o centro da janela de visualização */
transform: translateX(-50%); /* Centraliza horizontalmente */
width: 100%;
max-width: 900px;
background-color: #E30613;
padding: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
z-index: 998;
text-align: center; /* Centraliza os elementos dentro de #content-top */
margin-left: 0;
}

#content-top button {
margin: 5px; /* Adiciona espaçamento entre os botões */
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: #E30613;
  color: white;
  border: 2px solid white;
  border-radius: 0px;
  margin-bottom: 50px;
}

/*Botao de adicionar linha*/
#penasdicionar{
width: 150px;
height: 150px;
margin: 5px;
padding: 10px;
cursor: pointer;
background-color: #E30613;
color: white;
border: 2px solid white;
border-radius: 0px;
margin-bottom: 50px;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  background-color: white;
}


th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  min-width: 80px;  /* Definir a largura mínima desejada para as colunas */
  color: #575656;
}

th {
  background-color: #f2f2f2;
  color: #575656;
}

.hora-editavel {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}
/* Estilizando checkboxes */
input[type="checkbox"] {
/* Escondendo a checkbox padrão */
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
/* Definindo um tamanho padrão para a checkbox */
width: 20px;
height: 20px;
/* Definindo o fundo branco */
background-color: white;
/* Adicionando uma borda */
border: 1px solid #ccc;
/* Definindo um cursor personalizado */
cursor: pointer;
/* Posicionando o texto ao lado da checkbox */
vertical-align: middle;
margin-right: 5px; /* Espaço entre a checkbox e o texto */
}

/* Estilizando a marcação quando a checkbox está marcada */
input[type="checkbox"]:checked::before {
/* Adicionando um visto vermelho */
content: "\2713"; /* Código unicode para visto */
color: red; /* Cor do visto */
font-size: 25px; /* Tamanho do visto */
line-height: 20px; /* Alinhamento vertical */
}
/*Tabela numpad*/

#numpad{

  position: absolute;
  margin-top:35vh;
  margin-left:5vw;
  width: 60vw;
  text-align: center;
}
#numpad-table{
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 0px;
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: 0px;
  background-color: #f8f8f8;
  border: 4px solid #E30613 ;
  margin-right: 0px;
  width: 35vw;
  right:0;
}
.numpad-header{
  font-size: 10px;
  border: none;
  background: transparent ;
  color:white;
  border-bottom: white;
}
.numpad-cell{
  all:unset;
  vertical-align: middle;
}
.numpad-row{
  min-width: none;
  text-align: center;  
  background-color: #E30613;
  background: transparent ;


}
.numpad-Button{
  width: 13vw;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: #E30613;
  color: white;
  border: 2px solid white;
  border-radius: 0px;
  font-size: 20px;
}
#botao-numpad-voltar{
  margin-bottom: auto;
}
#popupNumpad.popup{
  z-index: 10001; /*Puxar 1 para a frente do pop up de informações gerais*/
}

#popupNumpadTable,#popupNumpadTable td{
  background: transparent;
  border:none; /*tirar as borders de vestígio*/
}
#popupAdicionaObservações{
  z-index: 10006;
}

.primary-numpad-Button{
  width: 5vw;
  height: 5vh;
  vertical-align: middle;
}

#raceStart{
  width: 250px;
  height: 60px;
  vertical-align: middle;
  background-color: #18cc00 ;
}
#raceRF{
  width: 250px;
  height: 60px;
  vertical-align: middle;
}
#raceSF{
  width: 250px;
  height: 60px;
  vertical-align: middle;
  background-color: #d2e003;
  color: #575656;
}

#extraButtons{
  width:25%;
  position: fixed;
  top: 30vh;
  transform: translateY(-50%);
  left: 0vw; /* Ajuste o valor conforme necessário para definir a distância do lado esquerdo */
  width: 25%;
  text-align: left;
  margin-left: 0vw;

}

.hidden{
  display:none;
}

/*Numpad 2*/

#numpad2{

  width:25%;
  position: fixed;
  top: 60vh;
  transform: translateY(-50%);
  right: 0px; /* Ajuste o valor conforme necessário para definir a distância do lado esquerdo */
  width: 25%;
  text-align: center;
}

#numpad-table2{
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 0px;
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: 0px;
  background-color: #E30613;
  margin-right: 0px;
  width: 20vw;
  right:0;

}

/**/
.popup {

  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 40vw;
  top: 15vw;
  width: auto;
  height: auto;
  overflow: auto;
  /*background-color: rgba(0,0,0,0.4);*/
  z-index: 10000;
}

.popup-content {
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adicione sombra para destacar o popup */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#thcolor {
  color: #575656;
}

#tdlg{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  min-width: 30%;
  width: 10%;
}

#editlg{
  content:url(images/lapis_1.png);
  display: block;
  margin-left: auto;
  margin-right:auto;
  width: 60%;
  justify-content: center;
}

#editlg:hover {
  content:url(images/lapis.png); /* Adiciona a animação ao passar o mouse */
}

#tabela thead {
  position: sticky;
  top: 30.8vh; /* Adjust this value according to your header's height */
  background-color: #ffffff; /* Change this to your desired background color */
  z-index: 999; /* Ensures the header stays above other content */
}

#tabela{
  margin-top:30vh;
  margin-right:18.2vw;
  width: 60vw;
}

/* @media screen and (max-width: 1370px) {
  #tabela thead{
      top: 25.8vh;
  }
  #tabela{
    margin-top: 26vh;
  }

  #logo{
    width: 15%;
    margin-top: 3%;
  }

}
 */
 #thcolorObs {
  color: #575656;
  min-width:17.5vw;
}
.class-Obs{
  word-wrap: break-word;
  max-width: 17.5vw; /* optional: set a maximum width for the cell */
}

#menu {
  position: fixed;
  top: 70%; /* Ajuste a altura conforme necessário */
  right: 0;
  transform: translateY(-50%);
  width: auto; /* Defina a largura da sua div */
  height: auto;
  height: 50px;
  background-color: #f0f0f0; /* Cor de fundo opcional */
  padding: 10px; /* Espaçamento interno opcional */
  /*background-color: #E30613;*/
  text-align: center;
}

#clock {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #E30613;
  color: white;
  padding: 1vw; /* Ajuste conforme necessário */
  border-radius: 0;
  font-size: 2.6vw; /* Ajuste conforme necessário */
  text-align: center;
  width: 13vw; /* Ajuste conforme necessário */
  min-width: 200px; /* Tamanho mínimo do relógio */
}

#date {
  position: fixed;
  top: 8%; /* Ajuste conforme necessário */
  right: calc(3.5% + 2vw); /* Ajuste conforme necessário */
  font-size: 1vw; /* Ajuste conforme necessário */
  color: white;
}
/* Icon roda dentada*/
#rodaDentadaDiv{
display:flex;
justify-content: flex-end;
filter:invert();
}


#rodaDentada:hover{
  cursor: pointer;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}

 /* Estilos para linhas com report true */
 tr.report-true td {
  background-color: #575656; /* Cor de fundo vermelha */
  color: white; /* Cor do texto branco */
}

/* Estilos para linhas com nfa true */
tr.nfa-true td {
  background-color: #5756565d; /* Cor de fundo amarela */
  color:black;
}

#popupRodadentada {
  width: 30%;
}
#popupRodadentada table{
  width: 100%;
}
#popupRodadentada td{
  border:none;
  text-align: left;;
}
#popupRodadentada button{
  font-size: 20px;
  margin-bottom: 20px;
}
#popupRodadentada select{
  font-size: 20px;
}


/* Campo de pesquisa*/

#pesquisa{
  vertical-align: middle;
  font-size: 2vh;
}

#pesquisaTable{
  width:65%;
  display: flex;
  justify-content: center;
  background-color:transparent;
  text-align: center;
}

#pesquisaTable td{
  color:white;
  font-size: large;
  margin-left:0.5vw;
  background-color: none;
  text-align: center;
  border: none;
}

tr.post-start td {
  background-color: #18cc00 ; /* Cor de fundo vermelha */
  color: rgb(0, 0, 0); /* Cor do texto branco */
}
tr.post-slow td {
  background-color: #d6ff07 ; /* Cor de fundo vermelha */
  color: black;  *//* Cor do texto branco */
}
tr.post-redflag td{
  background-color: #E30613;
  color: white;
}

tr.priority-set td{
  background-color: #e29032; /* Cor de fundo vermelha */
  color: white; /* Cor do texto branco */
  animation: blinks 2s  infinite;
  transition-duration: 1s infinite; 
  
}

/* Prioridade */

@keyframes blinks {
  0% {
    
    background-color:#f0f0f0; /* Define o ponto final da cor */
    color:black;

  }
  
  100% {
    background-color: orangered; /* Define o ponto inicial da cor */
    color: black;
  }
}

#popupConfiguracoes {
  width: 30%;
}
#popupConfiguracoes  table{
  width: 100%;
}
#popupConfiguracoes  td{
  border:none;
  text-align: left;;
}
#popupConfiguracoes  button{
  font-size: 20px;
  margin-bottom: 20px;
}


/*Imagens no header*/
#filtroImg{
  content:url(images/pesquisa.png);
  width:6%;
  cursor: pointer;
  vertical-align:bottom;
}

#filtroImg:hover{
  content:url(images/pesquisaGif.png);
}

#filtroImgtd{
  width: 10%;
}

#iconNumpad{
  width: 5%;
  cursor: pointer;
}

#iconNumpad:hover{
  filter:invert();
}

#iconTabela{
  width: 5%;
  cursor: pointer;
}

#iconTabela:hover{
  filter:invert();
}

#popupFiltros{
  text-align: left;
  z-index: 10000;
}

#popupFiltros p{
  font-size: 14px;
  color: black;
}

#popupFiltros button{
  margin-left: 25px;
}

#positionButton{
  display: none;
}

.buttaoUpDown{
  display:none;
}